{
  "arrowParens": "avoid",
  "semi": false,
  "printWidth": 80,
  "tabWidth": 4,
  "trailingComma": "all",
  "singleQuote": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^components/(.*)$", "^schemas/(.*)$", "^utils/(.*)$","^styles/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
