@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideIn {
  animation: 2s slideBottom forwards;
  animation-delay: 6s;
}

@keyframes slideBottom {
  from {
    bottom: -500px;
  }
  to {
    bottom: 0px;
  }
}
