/** Color palette **/
$primary: #15b0d4;
$primary-accent: #05acd1;
$secondary: #282633;
$secondary-accent: #333;
$link: #15b0d4;
$spacer: #f4f4f4;
:root {
    --primary: #15b0d4;
    --primary-accent: #05acd1;
    --secondary: #282633;
    --secondary-accent: #333;
    --accent-light: #85A8B8;
    --accent-dark: #BE3B68;
    --link: #15b0d4;
    --spacer: #f4f4f4;
}