@import "colors";
@import "responsive";
@import "variables";

.blockquote {
  border-top: 1px solid $spacer;
  border-bottom: 1px solid $spacer;
  @media only screen and (min-width: $mobile) {
    padding: 0 1rem;
  }

  .blockquote-content {
    font-size: 1.2rem;
    color: #888;
    font-weight: 300;
    margin: 0.4em 0 1em;
  }

  footer {
    font-size: 1rem;
    font-weight: 400;
    color: $primary;
  }

  footer:before {
    content: "― ";
  }
}

/** Brand logo */
.brand-logo {
  height: 1.3rem;
  margin-bottom: 0px;
}

/** Hero */
.hero-title {
  color: var(--white);
  font-weight: 700;
  text-transform: lowercase;

  font-size: 2.2rem;
  margin-bottom: 3rem;

  @include for-desktop-up {
    font-size: 3.5rem;
  }

  &:after {
    display: block;
    content: " ";
    width: 1ch;
    height: 4px;
    background-color: var(--red-pigment);
    position: relative;
    top: 1.5rem;
  }
}

/** Section */
.content-section {
  padding: 3rem 0 3rem 0;

  .section-title {
    color: var(--dark);
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1.6rem;

    @include for-desktop-up {
      font-size: 2.5em;
      font-weight: 700;
    }
  }
}

/** Navbar */
.navbar {
  .navbar-item {
    &:hover {
      color: var(--red-pigment);
    }
  }
}

/** Project Item */
.project-item {
  padding: 2rem 0 4rem 0;

  @include for-tablet-landscape-up {
    padding: 4rem 0;
  }

  .project-item--button-wrapper {
    @include center;

    @include for-tablet-landscape-up {
      display: block;
    }
  }
}
