@import "colors";

.text-red-pigment {
  color: var(--red-pigment) !important;
}

.section-title {
  color: $primary;
  font-weight: 900;
  margin-bottom: 1rem;

  &.h3 {
    font-size: 1.6rem;
  }
}

.is-nowrap {
  white-space: nowrap;
}

.list-title {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.item-title {
  font-weight: 900;
  font-size: 1.6rem;
}