@charset "utf-8";

@import "colors";
@import "components";
@import "variables";
@import "buttons";
@import "typography";

@import "~bulma/bulma.sass";

html {
  font-family: "Lato";
  color: #202331;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr #{"min(90ch, 100%)"} 1fr;

  & > .content-section {
    grid-column: 2;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media only screen and (min-width: 1024px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.column-reverse-mobile {
  display: flex;
  flex-direction: column-reverse;

  @media only screen and (min-width: $mobile) {
    display: flex;
    flex-direction: row;
  }
}

.is-secondary {
  background-color: #85a8b8;
  color: white;
}

.social-icon {
  width: 24px;
  height: 24px;
  padding: 4px;

  &--line-centered {
    top: 5px;
    position: relative;
  }

  transition: 100ms ease-in;

  &.linkedin:hover {
    fill: #0073b1;
  }
  &.twitter:hover {
    fill: rgba(29, 161, 242, 1);
  }
}

/** Blog Article */
.blog-article {
  p {
    line-height: 1.6rem;
  }

  p + ul {
    margin-bottom: 1.6rem;
  }

  p + :not(ul) {
    margin-bottom: 2rem;
  }

  h2 {
    color: $primary;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  ol,
  ul {
    margin: 0 0 2rem 0;
    padding: 0 1.6rem;
    list-style: square outside none;
  }
}
