@charset "utf-8";

@import "colors";
@import "buttons";

$mobile: "768px";

@import "~bulma/bulma.sass";

html {
  font-family: "Lato";
  color: #202331;
}

.grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr #{"min(90ch, 100%)"} 1fr;

  & > .content-section {
    grid-column: 2;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media only screen and (min-width: 1024px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.column-reverse-mobile {
  display: flex;
  flex-direction: column-reverse;

  @media only screen and (min-width: $mobile) {
    display: flex;
    flex-direction: row;
  }
}

.is-secondary {
  background-color: #85a8b8;
  color: white;
}
